localhost {

    route /api* {
        uri strip_prefix /api
        reverse_proxy api:5000
    }

    @compress_exts {
        not path *.gif *.jpg *.png
    }

    encode @compress_exts gzip zstd

    file_server {
        root /dist
    }
}
