# Common Caddyfile Patterns - Single-page apps (SPA)
# see: https://caddyserver.com/docs/caddyfile/patterns#single-page-apps-spas

localhost {

    handle_path /api* {
        reverse_proxy h2c://codelab:5000
    }

    handle {
        root * /dist
        try_files {path} /index.html
        file_server
    }

    @compress_exts {
        not path *.gif *.jpg *.png
    }

    encode @compress_exts gzip zstd
}
