<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link async href="//fonts.googleapis.com/css?family=Patua%20One&text=CodeLabs" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block head %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>
