    <footer class="page">
        <section>
            <nav>
                <a href="javascript:void(0)" onclick="openModalDialog('/contact')">Contact</a>
                <a href="{{ url_for('help', topic='faq') }}">FAQ</a>
                <a href="{{ url_for('help', topic='terms_of_use') }}">Terms of Use</a>
                {#
                <a href="{{ url_for('help', topic='advertise') }}">Advertise</a>
                <a href="{{ url_for('help', topic='about') }}">About</a>
                #}
            </nav>
        </section>
        <section>
            <nav>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://codelab.pronus.io" target="_blank"><i></i><span>Facebook</span></a>
                <a href="https://twitter.com/home?status={{ config['DESCRIPTION'] | urlencode }}%20http://codelab.pronus.io" target="_blank"><i></i><span>Twitter</span></a>
                <a href="https://plus.google.com/share?url=http://codelab.pronus.io" target="_blank"><i></i><span>Google+</span></a>
            </nav>
        </section>
        <div class="copyright">
            <span>Copyright <a href="http://www.pronus.eng.br">Pronus</a></span>
        </div>
    </footer>
    <div class="modal_dialog" id="dialog"></div>
    <script>
    function openModalDialog(url) {
        $.get(url, function(data) {
            $('#dialog').addClass('active').html(data);
        });
    }

    function closeModalDialog() {
        $('#dialog').removeClass('active');
    }
    </script>