    <footer class="page">
        <section>
            <nav>
                <a href="{{ url_for('help', topic='faq') }}">FAQ</a>
                <a href="{{ url_for('help', topic='terms') }}">Terms of Use</a>
                <a href="{{ url_for('help', topic='contact') }}">Contact</a>
                <a href="{{ url_for('help', topic='about') }}">About</a>
                <a href="{{ url_for('help', topic='advertise') }}">Advertise</a>
            </nav>
        </section>
        <section>
            <nav>
                <a href="#" class="social-link"><i></i>Facebook</a>
                <a href="#" class="social-link"><i></i>Twitter</a>
                <a href="#" class="social-link"><i></i>Google+</a>
            </nav>
        </section>
        <div class="copyright">
            <span>Copyright <a href="http://www.pronus.eng.br">Pronus</a></span>
        </div>
    </footer>