{% extends "base.html" %}
{% block title %}CodeBox{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="//cdn.jsdelivr.net/polymer/latest/polymer.js"></script>
    <link rel="import"
        href="{{ url_for('static',
                         filename='webcomponents/juicy-ace-editor/src/juicy-ace-editor.html') }}" />
    <script src="{{ url_for('static', filename='js/codebox.js') }}"></script>
{% endblock %}
{% block scripts %}{% endblock %}
{% block body %}
    <juicy-ace-editor
        theme="ace/theme/cobalt"
        mode="ace/mode/python"
        fontsize="15px"
        readonly=""
        softtabs="true">
    </juicy-ace-editor>
    <textarea name="input" rows="10" cols="50"></textarea>
    <textarea name="output" rows="10" cols="80"></textarea>
    <textarea name="errors" rows="10" cols="80"></textarea>
    <select name="language">
        <option value="python" selected="selected">Python 3</option>
        <option value="c_cpp">C/C++</option>
        <option value="csharp">C#</option>
        <option value="javascript">Javascript</option>
    </select>
    <a href="#" class="button" id="submit">Run</a>
{% endblock %}
