@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Fira+Codedisplay=swap')

apagado = darken(white, 30%)
title_color = black
cor_texto = #738f93
destaque_color = #1ba94c
cor_titulo = darken(cor_texto, 50%)
background_color = #dde3e3

html
    text-rendering optimizeLegibility
    font-family "Open Sans", Helvetica, sans-serif
    color cor_texto

body
    font-size 0.9rem

common_header_footer()
    background linear-gradient(#222, #121212)
    padding 1rem 30px
    color apagado

shadow()
    box-shadow 0 1px 3px 1px rgba(0, 0, 0, 0.2)

monospace()
    font-family 'Fira Code', monospace


textarea
    shadow()
    border none
    resize none

input
textarea
    color black

label
.link
    cursor pointer

    &:hover
        strike destaque_color


header.main
    common_header_footer()

    section
        display flex
        justify-content space-between

        nav
            a.router-link-active
                border-bottom 1px solid destaque_color
                color white

            *:hover
                color white

            & > * + *
                margin-left 2rem

footer.main
    common_header_footer()

    section
        display flex
        justify-content space-between
        align-items center

        nav
            display grid

.dojo
    background-color background_color

    .header-container
        background-color white
        box-shadow 0px 1px 2px rgba(0, 0, 0, 0.1)

        header
            max-width 1024px
            padding 1rem 30px
            display flex
            justify-content space-between
            align-items center

            h3
                font-size 0.8rem
                color cor_texto

                * + *
                    &::before
                        content '>'
                        color cor_texto
                        padding 0 0.5rem

    a:hover
    .link:hover
        color destaque_color

    main
        padding 1rem 30px
        display grid
        grid-template-columns 2fr 1fr
        gap 1rem
        grid-template-areas "projeto       stats" \
                            "editor        lint" \
                            "input-output  ."


        h1
        h2
            color cor_titulo
            font-size 1.2rem
            font-weight 600
            margin 1rem 0 0.5rem

        h2
            font-size 1rem


        .projeto
            grid-area projeto
            position relative

            .titulo
                display flex
                justify-content space-between
                align-items center

        .descricao
            background white
            padding 1rem

        .box
            box-shadow 0px 1px 3px 1px rgba(0, 0, 0, 0.1)


        .editor
            grid-area editor
            padding 0

            .cursor
                background white
                monospace()
                font-size 0.9rem
                color cor_texto
                display flex
                justify-content space-between
                padding 0.25rem 1rem

                &.light
                    background #efefef

                a.selected
                    border-bottom 1px solid

                div
                    * + *
                        margin-left 1rem

                span.cursor_pos
                    min-width 3ch
                    display inline-block
                    text-align right
                    margin-left 0

        .input-output
            grid-area input-output

            label
                padding-left 0.5rem

            textarea.code
                display block
                margin-top 0.5rem
                resize none
                height 10ch
                width 100%
                font-size 0.9rem
                line-height 1.25rem
                monospace()

            .upload-run
                display flex
                justify-content space-between
                align-items start

            .input
                margin-top 1rem

        .stats
            grid-area stats

        .lint
            grid-area lint


.edit_project
    display flex
    flex-direction column
    justify-content space-between

    label
        color cor_titulo
        font-size 1rem
        font-weight 600
        margin 0.75rem 0 0.25rem

    textarea
        height 20ch

    div
        display flex
        gap 0.5rem
        margin-top 1rem


.CodeMirror
    height auto
    min-height 40ch
    monospace()

.CodeMirror-scroll
    min-height 40ch
    max-height 80vh

.btn
    padding 1rem 1.25rem
    font-weight 600
    border-radius 0.5rem
    transition all 0.1s ease-in
    box-shadow 0px 1px 3px 1px rgba(0, 0, 0, 0.3)

    &:hover
        transform translateY(-2px)


.btn-primary
    box-shadow 0px 1px 3px 1px rgba(darken(destaque_color, 30%), 0.5)
    background-color destaque_color
    color lighten(destaque_color, 90%)

.btn-secondary
    background-color white

svg.icon
    width 24px
    height 24px
    display inline-block
