@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Fira+Codedisplay=swap')

html
    text-rendering optimizeLegibility
    font-family "Open Sans", Helvetica, sans-serif

common_header_footer()
    background linear-gradient(#222, #121212)
    padding 1rem 30px
    color apagado

apagado = darken(white, 30%)
title_color = black
secondary_title_color = lighten(title_color, 30%)
destaque_color = #1ba94c
texto_destaque = darken(destaque_color, 20%)

p
    color secondary_title_color
    font-size 0.9rem

header.main
    common_header_footer()

    section
        display flex
        justify-content space-between

        nav a.router-link-active
            border-bottom 1px solid destaque_color
            color white

        nav a:hover
            color white

        a + a
            margin-left 2rem

footer.main
    common_header_footer()

    section
        display flex
        justify-content space-between
        align-items center

        nav
            display grid

.dojo
    background-color #f3f7f7

    .header-container
        background-color white
        box-shadow 0px 1px 2px rgba(0, 0, 0, 0.1)

        header
            max-width 1024px
            padding 1rem 30px
            display flex
            justify-content space-between
            align-items center

            h3
                font-size 0.8rem
                color secondary_title_color

                a:hover
                    color destaque_color

                * + *
                    &::before
                        content '>'
                        color secondary_title_color
                        padding 0 0.5rem


    main
        padding 1rem 30px
        display grid
        grid-template-columns 2fr 1fr
        grid-gap 1rem
        grid-template-areas "descricao stats" \
                            "editor    input-output"

        h1
            color texto_destaque
            font-size 1.2rem
            font-weight 700
            margin-bottom 1rem

        h2
            color title_color
            font-size 1rem
            font-weight 600
            padding-bottom 0.25rem

        .descricao
        .editor
        .input-output
            background white
            box-shadow 0px 1px 3px 1px rgba(0, 0, 0, 0.1)
            padding 1.5rem

        .descricao
            position relative
            grid-area descricao

            .edit
                position absolute
                top 1rem
                right 1rem

            svg
                width 20px
                stroke secondary_title_color

                &:hover
                    stroke destaque_color
                    cursor pointer

        .editor
            grid-area editor
            padding 0

        .input-output
            grid-area input-output

        .stats
            grid-area stats


.CodeMirror
    height auto
    min-height 40ch
    font-family 'Fira Code', monospace

.CodeMirror-scroll
    min-height 40ch
    max-height 80ch
