@require base

header.main
    common_header_footer()

    section
        display flex
        justify-content space-between
        margin 0 auto
        width 90vw

        h1.logotipo a
            text-decoration none
            font normal 24px/1 "Patua One", cursive
            color white


        nav
            a.router-link-active
                border-bottom 1px solid destaque_color
                color white

            *:hover
                color white

            & > * + *
                margin-left 2rem

footer.main
    common_header_footer()

    section
        display flex
        justify-content space-between
        align-items center
        margin 0 auto
        width 90vw

        nav
            display grid

    h1
    p
        font-size inherit
        font-weight inherit
        margin 0


.edit_project_description
    display flex
    flex-direction column
    justify-content space-between

    label
        color cor_titulo
        font-size 1rem
        font-weight 600
        margin 0.75rem 0 0.25rem

    div
        display flex
        gap 0.5rem
        margin-top 1rem

    input
        margin 0

.box
    shadow()

svg.icon
    width 24px
    height 24px
    display inline-block

.documentation
    padding 1rem 30px

    h1
        color cor_titulo
        font-size 2rem
        font-weight 600
        text-align center

    ol
        counter-reset item

        li
            display flex
            counter-increment item
            margin-top 1rem
            color cor_texto

            &:before
                margin-right 10px
                content counter(item)'.'
                color destaque_color
                font-weight 600

    em
        font-weight 600
        color cor_texto

    a
        color destaque_color
