
.modal_dialog
    font-size 0.9em
    display none

    // This is modal bg
    &:before
        content ""
        display block
        background rgba(0, 0, 0, .6)
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        z-index 100
    &.active
        display block
    > div
        z-index 101
        position fixed
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
        +mobile()
            width 100%

        form
            margin 0 1.5em
            color #333
            position relative
            ul
                margin 0
                padding 0
                li
                    display inline-block
                    margin 0 0.5em
                    &:first-child
                        margin-left 0
                    label
                        margin-left 0.15em
                        margin-top 0

.required_field
    color #994a4a
    font-size 0.8em
    text-align right

div.required_field
    position absolute
    bottom 0
    right 0

sup.required_field
    top -0.25em
    margin-left 0.15em

.error
    color rgb(186, 7, 7)
    font-size 0.8em

div.error
    margin 1em 1.5em 0
    color #fff
    font-weight bold
    background #ba0707
    border-radius 7px
    padding 1em

div.info
    font-size 1.2em
    margin 1em
    text-align center


label
    display inline-block
    margin-top 0.5em
    font-weight bold
    font-size 0.9em
    color #555

li
    label
        font-weight normal

input:not([type='radio']):not([type='checkbox'])
textarea
    border 1px solid rgba(0, 0, 0, 0.25)
    padding 0.3em
    box-shadow 1px 1px 1px 0 rgba(0, 0, 0, 0.25) inset
    border-radius 4px
    &:focus
        box-shadow 0 0 6px 2px rgba(130, 220, 130, 0.7)

textarea
    width 95%

header_footer_color = linear-gradient(#222, #121212)
border_dialog = 1px solid rgba(0, 0, 0, 0.2)

.dialog
    max-width 100%
    min-width 40%
    max-height 95%
    overflow auto
    background #eee
    border solid 1px #eee
    border-radius 5px
    footer
        margin-top 0.5em
        border-top border_dialog
        background header_footer_color
        box-shadow 0 5px 3px 0 rgba(0,0,0,0.5) inset
        text-align center
        padding 1em
    header
        background header_footer_color
        border-bottom border_dialog
        box-shadow 0 -5px 3px 0 rgba(0,0,0,0.5) inset
        h1
            text-shadow none
            color #eee
            font-size 2em
