@require 'elf'
@require 'rupture'
@require 'colors'

rupture.enable-em-breakpoints = true
cor_menu = swatches.clouds
cor_fonte_status = darken(swatches.clouds, 25%)
cor_painel = swatches.concrete
pumpkin = swatches.pumpkin
orange = swatches.orange
panel_width = 2em
number_of_lines = 25rem

article.editor
    position relative
    overflow hidden
    background cor_painel
    div.central
        float left
        width s('calc(100% - 2*%s)', panel_width)
        overflow hidden
        position relative
        aside section
            padding 0.2em
            font-size 0.8em
            h1
                font-size 1em
        &.input_panel
        &.output_panel
            column(3/4, gutter: 0px)
        &.input_panel.output_panel
            column(2/4, gutter: 0px)

aside.inputs
aside.results
    float left
    width panel_width
    top 0
    position relative
    nav
        width 10000px
    a
        display inline-block
        font-size 0.75em
        color lighten(cor_painel, 85%)
        padding 0 1.5em
        &:hover
            color white
            background pumpkin
        &.active
            color white
            background orange

aside.inputs
    nav
        transform rotate(-90deg)
        transform-origin bottom right
        float right
        position relative
        float right
    a
        float right
aside.results
    nav
        transform rotate(90deg)
        transform-origin bottom left

aside.input_panel
aside.output_panel
    column(0, gutter: 0px)
    overflow-y auto
    max-height number_of_lines
    &.active
        column(1/4, gutter: 0px)
    section
        display none
        &.active
            display block

section.editor
    display block
    header
        align-children(vertical)
        margin-bottom 0
        background cor_menu
    div#editor
        float left
        width 100%
        height number_of_lines
        font-size 1em
    footer
        background transparent
        font-size 0.75em
        color cor_fonte_status
        position relative
        bottom 3em
        right 1.5em
        height 0
        text-align right
        div
            display inline-block
            padding 0.5em
            a
                color cor_fonte_status
        .linecol
            min-width 3.5em
            text-align right


// http://codepen.io/jacmaes/pen/miBKI

cor_fundo_terminals = #1d1d1d
aba_inativa = lighten(cor_fundo_terminals, 15%)
aba_ativa = lighten(cor_fundo_terminals, 25%)
altura_barra = 1.75em
cor_font_terminals = lighten(cor_fundo_terminals, 70%)

dl.terminals
    overflow hidden
    position relative
    margin 0px
    background cor_fundo_terminals
    dt
        position relative
        padding 0.25em 1em
        float left
        cursor pointer
        margin-top 0.5em
        margin-right 0.5em
        height altura_barra
        line-height altura_barra
        font-size 0.75em
        background aba_inativa
        color cor_font_terminals
        // text-shadow 0 1px 0 rgba(255,255,255,.8)
        border-radius 5px 5px 0 0
        // box-shadow 0 -2px 2px rgba(0,0,0,.4)
        &:hover
        &.active
            background aba_ativa
            z-index 2
    dd
        float right
        width 100%
        margin 1.9em 0 0 -100%
        padding 1em
        background aba_ativa
        box-sizing border-box
        box-shadow 0 -2px 3px -2px rgba(0, 0, 0, .7)
        position relative
        z-index 1

dd textarea
    width 100%
    color #ccc
    background black
    border 0px
