// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

@require 'colors'

fundo_escuro = #1b1c1d
cor_titulo = swatches.clouds


header
    height 2em
    h1
        vertical-aligned()

header
footer
    padding 0 1em
    a
        display block
        text-decoration none
        color cor_titulo
        &:hover
            color white

.page
    letter spacing 1px
    color #fff
    background fundo_escuro
    transform-style preserve-3d
    h1
        font-size 1em
        margin 0
        padding 0
        color cor_titulo
        display block

footer.page
    height auto
    font-size 0.9em
    padding 0
    header
    footer
        background darken(fundo_escuro, 20%)
    section
        padding 0 1em
        margin-top 1em
        h1
            font-size 0.9em
            color darken(cor_titulo, 15%)
        nav
            margin 0.5em 1em 0
            a
                color darken(cor_titulo, 20%)
                line-height 1.2rem
                font-size 0.9em
                &:hover
                    color white

