#faq_page
#help_page
    > section
        margin 2em 3em
        +mobile()
            margin 1em 0.5em
        h1
            border-bottom 1px solid #bbb
            padding-bottom 0.5em
            font-size 1.5em
        li
            margin-top 0.75em
.faq
    dt
        font-weight bold
        font-size 1.1em
        margin-top 1em
        +mobile()
            font-size 1em
            margin-top 1.5em
    dd
        margin 0
        padding 0.5em 0
        background rgba(0, 0, 0, 0.1)

code
    font-family monospace
    background rgba(0, 0, 0, 0.1)