@require 'elf'
@require 'rupture'
@require 'colors'

rupture.enable-em-breakpoints = true
fundo = swatches.clouds
header_color = lighten(#1d1d1d, 50%)

html
    line-height 1.5em
    text-rendering optimizeLegibility
    font-family "Open Sans", Helvetica, sans-serif

a
    text-decoration none

body#landing_page
    padding 0 2em
    background linear-gradient(#0d86b3, #11a9e2)
    h2
        font-size 3em
        text-align center
        margin 2em 0 2em
        font-weight normal
        line-height normal
        +mobile()
            font-size 1.5em
        +tablet()
            font-size 2.2em
        span
            color #fff
            text-shadow 4px 4px 6px rgba(0,0,0,0.5)

header
    align-children(vertical)
    background linear-gradient(#333, #1d1d1d)
    color header_color
    h1
        font-size 1rem
        text-shadow 2px 2px 2px rgba(0,153,255,1)
        margin 0.75em 1em
        color white
        display inline-block
    a:visited
        color white
    +below(rupture.desktop-cutoff)
        display block
        overflow hidden
    .logo
        column(1/4)
        font-size 1.5em
        color #222
        +below(rupture.desktop-cutoff)
            column(1)
            margin-bottom 15px


section
    overflow hidden


.languages nav
    overflow hidden
    margin 0 35% 3em
    +below(rupture.desktop-cutoff)
        margin 0
    div
        column(1/2)
        cycle(2)
        margin-bottom 30px
        +mobile()
            margin-bottom 1px
            column(1)
            cycle(1)
    a
        display block
        box-shadow 0 3px 3px 0px rgba(0, 0, 0, 0.4)
        text-shadow 1px 1px 0px white
        background rgba(255, 255, 255, 0.9)
        padding 6px 12px
        color #444
        &:hover
        &:active
        &:focus
            color black
            background rgba(255, 255, 255, 0.8)
            transition background .5s ease
        &:active
            box-shadow 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1)
        img
        span
            vertical-align middle
        img
            height 2em
            padding-right .7em

footer.page
    overflow hidden
    background linear-gradient(#222, #121212)
    box-shadow 0 8px 4px 0 rgba(0,0,0,0.5) inset
    margin 0
    padding 1.5em 0 1.5em
    section
        column(1/4)
        +mobile()
            column(1)
        nav
            margin 0.5em 1em 0
            a
                display block
                color darken(white, 50%)
                line-height 1.3rem
                font-size 0.9em
                font-weight bolder
                &:hover
                    color white
                +mobile()
                    line-height 2.5em
    div.copyright
        offset(1/4)
        column(1/4)
        +mobile()
            column(1)
            offset(0)
        text-align right
        color darken(white, 60%)
        font-size 0.9em
        padding 0.5em 1em
        box-sizing border-box
        a
            color darken(white, 40%)
            font-weight bolder

#landing_page > footer.page
    margin 1em -2em 0
