@require 'elf'
@require 'rupture'

margem = 1em 2em 0
texto_sem_destaque = #787878
texto_ativo = #333
texto_hover = darken(#cf7f00, 20%)

#snippets
    background #f0f6f0
    article
        margin margem
    section
        padding 0.5em

+mobile()
    #snippets
    #snippets article
    #snippets section
        margin 0
        padding 0

    #snippets
        section
            margin 0
            padding 0.5em
        nav
            margin 0
            padding 0
            a
                padding 0.35em
        div.fig
            margin 0


nav.choices
nav.languages
    overflow hidden
    font-weight normal
    margin 0 2em
    padding 0
    // border 1px solid #ccc
    a
        color texto_sem_destaque
        // border-left 1px solid #ccc
        padding 0.5em
        display inline-block
        float left
        &:first-child
            border 0
        &.active
            color texto_hover
            &:hover
                color texto_ativo
        &:hover
            color texto_ativo


section.project
    border-bottom 1px solid #d5d5d5;
    border-top 1px solid #fff;
    padding 0.5rem 0 0.5rem
    display flex
    align-items baseline
    justify-content space-between
    h1
        margin 0
    p
        margin 0
        color #5a5a5a
        font-size 0.9em
        font-style italic
    a
        font-size 1.25rem
        color texto_ativo
        &:hover
            color texto_hover
    i
        cursor pointer
        color texto_sem_destaque
        &:hover
            color texto_hover
    .show_detail
        display none
    &.detail-hidden
        .detail
            display none
        .show_detail
            display inherit
    div.project
        flex-grow 2
    .expand_contract
        margin-right 1em
    .visited_time
        text-align right
    &.paginate-hidden
        display none

span.tag
    color #cf7f00
    text-transform capitalize
    font-size 0.9em

div.highlight
div.linenodiv
    pre
        background-color #000
        color #ddd
        padding 0.5em
        margin-top 0.3em
        line-height 1.3em
        +mobile()
            font-size 0.8em
        +tablet()
            font-size 0.9em

div.linenodiv
    pre
        color #b6b6b6
        background-color lighten(#000, 10%)


div.pagination
    text-align center
    margin 1em
    input
        text-align center
    .next
    .previous
    .first
    .last
        padding 0 0.5em
        font-size 1.5em
        font-weight bold
        display inline-block
        color texto_ativo
        &:hover
            color texto_hover
