
button
  // [small, big]
  // [round, pill]
  // [border]
  // [primary, success, info, warning, danger]
  // [invert]
  // [stretch]

  cursor: pointer
  transition: all 200ms ease
  border: 0
  background: darken(white, 5%)
  color: lighten(black, 20%)
  padding: .5em 1.75em
  &:hover
    background: darken(white, 10%)

  &[mui*="small"]
    padding: .25em 1em
    font-size: .75em

  &[mui*="big"]
    padding: 1em 3em
    font-size: 1.25em

  &[mui*="round"]
    border-radius: 5px

  &[mui*="pill"]
    border-radius: 999em

  &[mui*="border"]
    border: 1px solid darken(white, 10%)
    &:hover
      border-color: darken(white, 15%)

  &[mui*="primary"]
    background: colors.primary
    color: white
    &:hover
      background: darken(colors.primary, 5%)
  &[mui*="border"][mui*="primary"]
    border-color: darken(colors.primary, 5%)
    &:hover
      border-color: darken(colors.primary, 10%)

  &[mui*="success"]
    background: colors.success
    color: white
    &:hover
      background: darken(colors.success, 5%)
  &[mui*="border"][mui*="success"]
    border-color: darken(colors.success, 5%)
    &:hover
      border-color: darken(colors.success, 10%)

  &[mui*="info"]
    background: colors.info
    color: white
    &:hover
      background: darken(colors.info, 5%)
  &[mui*="border"][mui*="info"]
    border-color: darken(colors.info, 5%)
    &:hover
      border-color: darken(colors.info, 10%)

  &[mui*="warning"]
    background: colors.warning
    color: white
    &:hover
      background: darken(colors.warning, 5%)
  &[mui*="border"][mui*="warning"]
    border-color: darken(colors.warning, 5%)
    &:hover
      border-color: darken(colors.warning, 10%)

  &[mui*="danger"]
    background: colors.danger
    color: white
    &:hover
      background: darken(colors.danger, 5%)
  &[mui*="border"][mui*="danger"]
    border-color: darken(colors.danger, 5%)
    &:hover
      border-color: darken(colors.danger, 10%)

  &[mui*="invert"]
    border: 2px solid darken(white, 5%)
    background: none
    &:hover
      background: darken(white, 5%)

  &[mui*="invert"][mui*="primary"]
    color: colors.primary
    border-color: colors.primary
    &:hover
      color: white
      background: colors.primary

  &[mui*="invert"][mui*="success"]
    color: colors.success
    border-color: colors.success
    &:hover
      color: white
      background: colors.success

  &[mui*="invert"][mui*="info"]
    color: colors.info
    border-color: colors.info
    &:hover
      color: white
      background: colors.info

  &[mui*="invert"][mui*="warning"]
    color: colors.warning
    border-color: colors.warning
    &:hover
      color: white
      background: colors.warning

  &[mui*="invert"][mui*="danger"]
    color: colors.danger
    border-color: colors.danger
    &:hover
      color: white
      background: colors.danger

  &[mui*="stretch"]
    width: 100%