
button
.button
    cursor pointer

.button
    display inline-block

header
    button
        color #b3b3b3
        background transparent
        border none
        &:hover
            color #49D549

action_button(color)
    background color
    border 1px solid darken(color, 10%)
    border-radius 5px
    color #fff
    text-shadow 0 -1px 0px darken(color, 40%)
    text-align center
    font-weight bold
    font-size 1.125em
    box-sizing border-box
    padding 0.5em 1em
    display inline-block
    &:hover
        background darken(color, 20%)


.btn
    margin 0 0.5em
    action_button(#f14c2e)

    &.cancel
        action_button(#ba0707)
    &.submit
    &.ok
        action_button(rgb(7, 186, 7))
    &.green
        action_button(#89c1c0)

