@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot?-c2j93u');
    src url('../fonts/icomoon.eot?#iefix-c2j93u') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-c2j93u') format('woff'),
        url('../fonts/icomoon.ttf?-c2j93u') format('truetype'),
        url('../fonts/icomoon.svg?-c2j93u#icomoon') format('svg')
    font-weight  normal
    font-style  normal

[class^="icon-"]
[class*=" icon-"]
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    // Better Font Rendering
    font-smoothing antialiased
    // -moz-osx-font-smoothing grayscale


.icon-pencil:before
    content "\e905"

.icon-wrench:before
    content "\e991"

.icon-cog:before
    content "\e994"

.icon-menu:before
    content "\e9bd"

.icon-play3:before
    content "\ea1c"

.icon-share2:before
    content "\ea82"
