// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

vertical-align ()
    position relative
    top 50%
    transform translateY(-50%)

header.page
    text-align justify
    letter spacing 1px
    height 2em
    padding 10%
    background #2c3e50
    color #fff
    transform-style preserve-3d


footer.page
    width 100%
    background #2a3744
    font-size 0.9em
    line-height 1.6em
    header
        height 3em
    section
        h1
            color #fff
            line-height 1.2em
            margin-bottom 0.5em
        a
            display inline-block
            color #bbb

