@require 'colors'

#faq_page
    section
        margin 2em 3em
        +mobile()
            margin 1em 0.5em
            h1
                font-size 1.5em

.faq
    dt
        font-weight bold
        font-size 1.1em
        margin-top 1em
    dd
        margin 0
        padding 0

code
    font-family monospace
    background rgba(0, 0, 0, 0.1)