// http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/
@require 'colors'

fundo = swatches.clouds

.menu
    position relative
    cursor pointer
    outline none
    .dropdown
        display none
        position absolute
        bottom 2em
        right 0
        padding 0
        text-align left

        border-radius inherit
        border 1px solid rgba(255,255,255,0.3)
        box-shadow 0 0 5px rgba(0,0,0,0.5)
        font-weight normal
        transition all 0.5s ease-in
        list-style none

        /* Hiding */
        opacity 0
        pointer-events none
        li
            min-width 10em
            display block
            padding 10px
            color white
            border-bottom 1px solid rgba(0, 0, 0, 0.4)
            border-top 1px solid rgba(255, 255, 255, 0.3)
            background rgba(255, 255, 255, 0.2)
            transition all 0.3s ease-out
            &:hover
                background rgba(255, 255, 255, 0.4)
    &.active .dropdown
        opacity 1
        pointer-events auto
        display block
