th_background = rgb(0, 34, 64)

table
    color #666
    font-size 0.9em
    background #fafafa
    box-shadow 2px 2px 2px 0 #878787, 2px 2px 2px 0 rgba(0,0,0,0.5) inset;
    th
        border-bottom 1px solid #e0e0e0
        background  th_background
        text-shadow  1px 1px 0px #000
        color #ddd
        padding 0.5em
    tr
        &:hover td
            background lighten(th_background, 30%)
            color #e0e0e0
            cursor pointer
        &:nth-child(2n)
            background rgba(194,231,252,1)
    td
        padding 0.5em
        // border-top  1px solid #ffffff
        // border-bottom 1px solid #e0e0e0
        // border-left  1px solid #e0e0e0

dd table td:first-child
    text-align center

