<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ _(config['DESCRIPTION']) }}" />

    <meta property="og:site_name" value="{{ _(config['APP_NAME']) }}"/>
    <meta property="og:title" content="{{ _(config['DESCRIPTION']) }}" />
    <meta property="og:url" content="{{ url_for('landing', _external=True) }}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/codelab-logo.png', _external=True) }}" />
    <meta property="og:image:url" content="{{ url_for('static', filename='images/codelab-logo.png', _external=True) }}" />
    <meta property="og:image:width" content="329" />
    <meta property="og:image:height" content="92" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:description" content="{{ _(config['DESCRIPTION']) }}" />

    <!-- Twitter Deep Linking -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ config['APP_NAME'] }}" />
    <meta name="twitter:description" content="{{ config['DESCRIPTION'] }}" />
    {#
    <meta name="twitter:site" content="@pronus.io" />
    #}

    <title>{% block title %}{% endblock %}</title>
    <link async href="//fonts.googleapis.com/css?family=Patua%20One&text=CodeLabs" rel="stylesheet" />
    <link async href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block head %}{% endblock %}
    {%- if not (config['TESTING'] or config['DEBUG']) %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59152754-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</head>
{% block body %}{% endblock %}
</html>
