        {% from "_form_helpers.html" import render_field %}
        <div class="dialog">
            <header>
                <h1>{{ _('Contact') }}</h1>
            </header>
            {% if form.errors %}
            <div class="error">{{ _('Some validation errors occurred. Please correct the fields and submit the form again') }}.</div>
            {% endif %}
            <form name="contact_form">
                {{ form.hidden_tag() }}
                {{ render_field(form.type_) }}
                {{ render_field(form.subject, size=50) }}
                {{ render_field(form.description, rows=5) }}
                {{ render_field(form.name, size=50) }}
                {{ render_field(form.email, size=50) }}
                <div class="required_field">* {{ _('Required Field') }}</div>
            </form>
            <footer>
                <button class="btn cancel" onclick="closeModalDialog()">{{ _('Cancel') }}</button>
                <button class="btn submit" onclick="submitForm()">{{ _('Submit') }}</button>
            </footer>
        </div>
        <script>
        function submitForm() {
            $.post('{{ url_for("contact") }}', $('form[name="contact_form"]').serialize(), function(data) {
                $("#dialog").html(data);
            });
            return False;
        }
        </script>
