{% extends "base.html" %}
{% block title %}CodeBox | Dojo{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="//cdn.jsdelivr.net/ace/latest/min/ace.js"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codebox.js') }}"></script>
{% endblock %}
{% block body %}
<body id="dojo">
    <header>
        <h1><a href="/">Code Lab</a></h1>
        <button name="run"><i class="icon-play3"></i> <span>Run</span></button>
    </header>
    <article class="content">
        <aside class="panel_1"></aside>
        <div class="central">
            <section class="editor">
                <div id="editor" data-ace-theme="{{ ace_theme }}"></div>
                <footer>
                    <div class="menu" id="a-language">
                        <span>{{ language }}</span>
                        <ul class="dropdown">
                        {% for name, mode in languages.items()|sort %}
                            <li data-ace-mode="{{ mode }}">{{ name }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="linecol"><span id="line_position"></span>:<span id="column_position"></span></div>
                    <div class="menu" id="config">
                        <i class="icon-wrench"></i>
                        <ul class="dropdown">
                            <li id='increase_font'>{{ _('Increase Font Size') }}</li>
                            <li id='decrease_font'>{{ _('Decrease Font Size') }}</li>
                        </ul>
                    </div>
                </footer>
            </section>
            <dl class="terminals">
                <dt>{{ _('Input') }}</dt>
                <dd>
                    <textarea id="input_data" rows="10"></textarea>
                </dd>
            </dl>
        </div>
        <aside class="panel_2"></aside>
    </article>
{% include 'footer.html' %}
<div class="modal_dialog" id="spinner">
    <div class="spinner">
    {%- for i in range(10) %}
        <div></div>
    {%- endfor %}
    </div>
</div>
</body>
{% endblock %}
