{% extends "base.html" %}
{% block title %}CodeBox | {{ _('FAQ') }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %}
{% block body %}
<body id="faq_page">
    <header>
        <h1><a href="/">Code Lab</a></h1>
    </header>
    <section>
        <h1>{{ _('Frequent Asked Questions (FAQ)') }}</h1>
        <dl class="faq">
            {% autoescape false %}

            <dt>{{ _('What is Code Lab?') }}</dt>
            <dd>{{ _('Code Lab is an online compiler and lint tool which allows you to run, improve and share your code using several programming languages.') }}</dd>

            <dt>{{ _('Are there any memory or time constraints for the submitted programs?') }}</dt>
            <dd>{{ _('Yes, they are as follows:') }}
                <ul>
                    <li>{{ _('compilation time') }}: 10 {{ _('seconds') }}</li>
                    <li>{{ _('execution time') }}: 5 {{ _('seconds') }}</li>
                    <li>{{ _('memory usage') }}: 256 MiB.</li>
                </ul>
            </dd>

            <dt>{{ _('Can I access the Internet from my program?') }}</dt>
            <dd>{{ _('No, access to the network is blocked.') }}</dd>

            <dt>{{ _('Can I write or read files in my program?') }}</dt>
            <dd>{{ _('Yes, but there is an 1 MiB limit of disk space.') }}</dd>

            <dt>{{ _('How long my codes will be stored on Code Lab?') }}</dt>
            <dd>6 {{ _('months') }}</dd>

            <dt>{{ _('What is the size limit for the source code, input and output?') }}</dt>
            <dd>128 KiB</dd>

            <dt>{{ _('What encoding is used in the source code and in the input stream?') }}</dt>
            <dd>UTF-8</dd>

            <dt>{{ _('How is end of line (EOL) represented in the source code and in the input stream?') }}</dt>
            <dd>{{ _('<em>End of line</em> is represented by <code>\\n</code> (LF, Linux style). Even if you submit input or source code with Windows EOL (<code>\\r\\n</code>, CRLF) or Mac OS EOL (<code>\\r</code>, CR), end-of-lines will be converted to the Linux style.') }}</dd>

            <dt>{{ _('My program seems to have a correct syntax. Why does it fail to execute?') }}</dt>
            <dd>{{ _('Be sure to place "main" class/program/module/function/procedure in your code (<a href="/samples">here you will find a sample</a> for every language).') }}</dd>

            <dt>{{ _('I would like to see a new language or library on Code Lab. Is there anything I can do about that?') }}</dt>
            <dd>{{ _('Yes, please ') }} <a href="javascript:void(0)" onclick="openModalDialog('/contact')">{{ _('contact us') }}</a>.</dd>

        {#
            <dt>{{ _('How can I get in touch with you?') }}</dt>
            <dd>{{ _('Follow us on Twitter.') }}</dd>
        #}
        </dl>
        {% endautoescape %}
</section>
{% include 'footer.html' %}
</body>
{% endblock %}