{% extends "base.html" %}
{% block title %}{{ _('Run, improve and share your source code online!') }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %}
{% block scripts %}{% endblock %}
{% block body %}
<body id="landing_page">
    <h1 class="title">Code Lab</h1>
    {% autoescape false %}
    <h2>{{ _('<span>Run</span>, <span>improve</span> and <span>share</span> your code online!') }}</h2>
    {% endautoescape %}
    <section class="languages">
        <nav>
        {% for name, image in languages %}
            <div>
                <a href="{{ url_for('dojo', language=name.lower().split()[0]) }}" data-lang="{{ name }}" class="button">
                <img src="{{ image }}" alt="{{ name }}" />
                <span>{{ name }}</span>
                </a>
            </div>
        {% endfor %}
        </nav>
    </section>
{% include 'footer.html' %}

</body>
{% endblock %}
