{% extends "base.html" %}
{% block title %}{{ _('Run, improve and share your source code online!') }}{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/jquery.jqpagination.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/snippets.js') }}"></script>
    <script>
        var page_string = '{{ _('Page {current_page} of {max_page}') }}';
    </script>
{% endblock %}
{% block body %}
<body class="landing_page">
{% autoescape false %}
    <section class="slogan">
        <h1 class="title">Code Lab</h1>
        <h2>{{ _('<span>Run</span>, <span>improve</span> and <span>share</span> your code online!') }}</h2>
    </section>
    <section class="languages">
        <nav>
        {% for name, image in languages %}
            <div>
                <a href="{{ url_for('dojo', language=name.lower().split()[0]) }}" data-lang="{{ name }}" class="button">
                <img src="{{ image }}" alt="{{ name }}" />
                <span>{{ name }}</span>
                </a>
            </div>
        {% endfor %}
        </nav>
    </section>
    <section id="snippets">
        <nav class="choices">
            <a href="javascript:void(0)" onclick="showSnippets(this, 'samples');" class="active">{{ _('Examples') }}</a>
            <a href="javascript:void(0)" onclick="getVisitedProjects(this, 'last_visited');">{{ _('Recent') }}</a>
            <a href="javascript:void(0)" onclick="getVisitedProjects(this, 'most_visited');">{{ _('Most Visited') }}</a>
        </nav>
        <nav class="languages">
            <a href="javascript:void(0)" onclick="enableAll(this);" class="active">{{ _('All') }}</a>
        {% for language in config['LANGUAGES'].keys() %}
            <a href="javascript:void(0)" onclick="filterLanguage(this);">{{ language.upper() }}</a>
        {% endfor %}
        </nav>
        <article id="samples">
            {% include 'fill_project.html' %}
        </article>
        <article id="last_visited" class="hidden">
        </article>
        <article id="most_visited" class="hidden">
        </article>
        <div class="pagination">
            <a href="#" class="previous" data-action="previous">&lsaquo;</a>
            <input type="text" readonly="readonly" data-max-page="40" />
            <a href="#" class="next" data-action="next">&rsaquo;</a>
        </div>
    </section>
    <section id="execute">
        <h1>{{ _('How It Works') }}</h1>
        <div>
            <div class="description">
                <p>{{ _('Code Lab uses <a href="http://en.wikipedia.org/wiki/Batch_processing">batch processing</a>. It means that your program executes without human interaction.') }}</p>

                <p>{{ _('Despite of the execution flow or processing type, all input data are sent at once to the standard input (<code>stdin</code>) from where your program can read as needed.') }}</p>

                <p>{{ _('The processing takes place into a controlled environment (<em>sandbox</em>) which has some restrictions of time (5s processing max), memory (256MiB), disk (1MiB), user (not <code>root</code>) and netword access (no access at all).') }}</p>

                <p>{{ _('The processing output is collected from standard output and error streams (<code>stdout</code> and <code>stderr</code>) and presented back to you.') }}</p>
            </div>
            <div class="fig">
                <img src="{{ url_for('static', filename='images/batch_processing.svg') }}" />
            </div>
        </div>
    </section>
    <section class="execute-example">
        <h2>{{ _('Example') }}</h2>
        <div class="example">
            <article class="input">
                <h3>{{ _('Input') }}</h3>
                <div class="highlight">
                    <pre>=
Hello World</pre>
                </div>
            </article>
            <article class="program">
                <h3>{{ _('Program') }}</h3>
                <div class="highlight">
                    <pre><span class="c"># Python 3</span>
<span class="n">{{ _('border') }}</span> <span class="o">=</span> <span class="nb">input</span><span class="p">(</span><span class="s">&quot;{{ _('Enter the border:') }}</span><span class="se">\n</span><span class="s">&quot;</span><span class="p">)</span>
<span class="n">{{ _('title') }}</span> <span class="o">=</span> <span class="nb">input</span><span class="p">(</span><span class="s">&quot;{{ _('Enter the title:') }}</span><span class="se">\n</span><span class="s">&quot;</span><span class="p">)</span>
<span class="k">print</span><span class="p">()</span>
<span class="k">print</span><span class="p">(</span><span class="n">{{ _('border') }}</span> <span class="o">*</span> <span class="nb">len</span><span class="p">(</span><span class="n">{{ _('title') }}</span><span class="p">))</span>
<span class="k">print</span><span class="p">(</span><span class="n">{{ _('title') }}</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">{{ _('border') }}</span> <span class="o">*</span> <span class="nb">len</span><span class="p">(</span><span class="n">{{ _('title') }}</span><span class="p">))</span>
</pre>
            </article>
            <article class="output">
                <h3>{{ _('Output') }}</h3>
                <div class="highlight">
                    <pre>{{ _('Enter the border:') }}
{{ _('Enter the title:') }}

===========
Hello World
===========</pre>
                </div>
            </article>
        </div>
    </section>
    <section id="improve-share">
        <div id="improve">
            <h1>{{ _('Improve') }}</h1>
            <p>{{ _('Code Lab executes a static analysis over your code in search for optimization improvements, potential defects and inconsistencies with a programming style guide. The analysis report is presented in a tab called "Lint".') }}</p>

            <p>{{ _('Use those suggestions to improve your code!') }}</p>
        </div>
        <div id="share">
            <h1>{{ _('Share') }}</h1>
            <p>{{ _('Each combination of input data and source code produces a unique address (URL) that should be used to share your code and results to others, forums, social media, IRC etc.') }}</p>
        </div>
    </section>
{% endautoescape %}

{% include 'footer.html' %}

</body>
{% endblock %}
